/* Ikke CSS-klasser */
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: Arial, sans-serif;
}

/* Banner */
/* CSS-klasser */
.banner {
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #215a81;
    padding: 10px 20px; /* Tilføj padding for luft */
    width: 100vw;
    box-sizing: border-box;
    z-index: 1000;
}

.bilAbonnementBillede {
    margin: 10px;
    height: 70px;
    max-width: 300px; /* Sikrer, at billeder ikke strækker sig ud over deres container */
}

.banneroverskrift {
    color: white;
    flex-grow: 1; /* Tillader overskriften at tage plads */
    text-align: center; /* Centrerer teksten */
    margin: 0; /* Fjern margin for at undgå overlapping */
    margin-right: 0px;
}

.profilBillede {
    margin: 10px;
    height: 70px;
    max-width: 200px; /* Sikrer, at billeder ikke strækker sig ud over deres container */
}

.button {
    margin-left: 15px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 150%;
    font-weight: bold;
    color: white;
    background-color: #66a6c9;
    border: none;
    cursor: pointer;
    border-radius: 30px; /* Tilføj en lille runding på knappen */
}