a {
    text-decoration: none;
}

table {
    width: 200%;
    border-collapse: collapse;
    margin: 20px 0;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Runde hjørner */
    overflow: hidden;
}

table th, table td {
    padding: 12px;
    border: 1px solid #e6e6e6;
}

table th {
    background: #adacad;
    color: #000000;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

/* Status styling */
td:nth-child(10) {
    font-weight: bold;
}

td:nth-child(10):has(span:contains ("Aktiv")) {
    color: #28a745; /* Grøn */;
}

td:nth-child(10):contains ("Afsluttet") {
    color: #6c757d;
}

/* Buttons */
button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background: #d6b438;
    color: white;
}

button:hover {
    background-color: #a68e30;
    color: white;
}

.btn-slet {
    background: #dc3545;
    color: white;
}

.btn-slet:hover {
    background: #c82333;
}

.btn-opret {
    display: inline-block;
    background: #28853b;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 0;
}

.btn-opret:hover {
    background: #218838;
}

/* Input fields */
input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 15px; /* Andring: Flytter søgefeltet lidt ned */
}

input[type="text"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

label {
    font-weight: bold;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    border-radius: 10px; /* Ændring: Runde hjørner */
    margin-top: 15px; /* Ændring; Matcher søgefeltet */
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
