.menu-container {
    display: flex;
    align-items: flex-start; /* Juster vertikalt efter behov */
}

/* Flytter right side content fra menu ikonet */
.right-side-content {
    margin-left: 5%;
    max-width: 40%;
}

/* Flytter right side content fra right content */
.left-side-content {
    margin-left: 5%;
}

.menu-icon {
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
    overflow: hidden;
    /* border-radius: 5px; */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
}

.menu-button {
    background-color: #215a80;
    color: white;
    padding: 15px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    display: block;
    width: 60px; /* Startbredde */
    height: 60px; /* Starthøjde */
    text-align: center;
    transition: all 0.3s ease;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #215a80;
    top: 0;
    left: 0;
    width: 250px; /* Bredden på dropdown boksen, tilpasser for at have hele tekster ind */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    padding-top: 50px; /* For at skubbe linksene ned under menu-knappen */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover, .dashboard-link:hover {
    background-color: #215a80;
}

/* Størrelse på dropdown boks i forholdet til */
.menu-icon:hover {
    width: 500px; /* Udvid bredden ved hover (Altså hvor langt man kan have mouse uden at menu ikon bliver lukket ned.*/
    height: 750px; /* Juster højden ved hover, have plads til hele menu */
}

.menu-icon:hover .dropdown-content {
    display: block;
    max-width: 1500px;
    max-height: 1000px; /* Sørg for at der er plads til alle links */
}

.dashboard-link {
    padding: 12px 16px;
    text-decoration: none;
    color: black;
}

.main-link-container {
    display: flex;
    align-items: center; /* Sørger for, at ikonet og teksten er centreret vertikalt */
    margin-bottom: 5px; /* Tilføjer lidt afstand under hovedlinket */
}

.dashboard-link img {
    margin-right: 8px; /* Tilføjer lidt plads mellem ikonet og teksten */
}

.sub-links {
    display: flex;
    flex-direction: column; /* Sørger for, at sub-links vises under hinanden */
    margin-left: 48px; /* Juster efter behov for at indrykke sub-links under billedet */
}

.sub-links a {
    font-size: medium;
    text-decoration: none;
    color: black;
}

.sub-links a:hover {
    background-color: #66a5c8;
}