.sidebar {
    width: 200px;
    background-color: #f4f4f4;
    padding: 15px;
    box-sizing: border-box;
    position: fixed;
    height: 100%;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
}

.sidebar a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar a:hover {
    background-color: #ddd;
}

/* Menu button */
.menu-icon {
    position: relative;
    display: inline-block;
    transition: all 0.3s ease; /* Tilføj overgangseffekt */
}

.menu-button {
    background-color: #66a6c9;
    color: white;
    padding: 15px;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    transition: all 0.3s ease; /* Tilføj overgangseffekt */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 250px; /* Startbredde */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease; /* Tilføj overgangseffekt */
}

.dropdown-item {
    margin-bottom: 10px;
    position: relative;
}

.dropdown-button {
    background-color: #66a6c9;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    display: block;
    width: 100%;
}

.sub-dropdown-content {
    display: none;
    background-color: #e0e0e0;
    padding: 5px;
    margin-top: 5px;
    position: absolute;
    left: 100%;
    top: 0;
    min-width: 160px;
    z-index: 11;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
}

.sub-dropdown-content a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}

.sub-dropdown-content a:hover {
    background-color: #ccc;
}

.menu-icon:hover .dropdown-content {
    display: block;
    width: 300px; /* Udvid bredden af dropdown-boksen */
    height: auto; /* Tillad boksen at tilpasse sig indholdet */
    padding: 20px; /* Øg padding for at give mere plads */
}

.menu-icon:hover .menu-button {
    width: 300px; /* Udvid bredden af menu-knappen */
    height: 50px; /* Øg højden af menu-knappen */
}

.dropdown-item:hover .sub-dropdown-content {
    display: block;
}