body {
    background-color: #215a80; /* Blå baggrund */
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

div {
    background-color: #b5b3b3; /* Grå boks */
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #5c5c5c;
    width: 94%;
    margin-left: 5px;
    max-width: 600px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.aBTN {
    display: inline-block; /* Sikrer, at links opfører sig korrekt */
    text-decoration: none; /* Fjerner underlinje fra links */
}

.btn-opdater, .btn-slet {
    background-color: #28a745; /* Grøn farve til opdateringsknap */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.btn-slet {
    background-color: #dc3545; /* Rød farve til sletteknap */
}

.btn-opdater:hover {
    background-color: #218838; /* Mørkere grøn ved hover */
}

.btn-slet:hover {
    background-color: #c82333; /* Mørkere rød ved hover */
}
/*______________________*/
.inline-container {
    display: flex;
    align-items: center; /* Justerer elementerne lodret centreret */
}

.inline-container p {
    margin-right: 20px; /* Tilføjer lidt afstand mellem elementerne */
}

.inline-container p:last-child {
    margin-right: 0; /* Fjerner højre margin fra det sidste element */
}
/*____________________*/

.boks {
    display: block; /* Gør span til en blok for at tage hele linjen */
    background-color: #ffffff; /* Lys cyan baggrundsfarve */
    padding: 10px; /* Indvendig afstand for at give plads omkring teksten */
    border-radius: 4px; /* Afrundede hjørner */
    margin-top: 5px; /* Afstand fra <strong> teksten ovenfor */
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    color: black;
}