<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>banner</title>
    <link rel="stylesheet" type="text/css" href="/bannerItems.css">
</head>
<body>

    <div th:fragment="banner" class="banner">
        <a href="/"><img class="bilAbonnementBillede" src="/BILABONNEMENT-LOGO.png"></a>
        <h1 class="banneroverskrift"> Dashboard </h1>
        <!-- TODO herunder "/" skal ændres til at det går til profilens side. -->
        <a href="/"><img class="bilAbonnementBillede" src="/profilIconPicture.png"></a>
        <button class="button"> Log ud </button>
    </div>

</body>
</html>