<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/bannerItems.css">
    <link rel="stylesheet" type="text/css" href="/sidebarItems.css">
    <!-- Her sætter man sidens egen CSS ind ligesom ovenstående links. -->
    <title>Prototype</title>
</head>
<body>
<div>
    <!-- Banner -->
    <div th:replace="~{home/fragments/bannersidebar :: banner('Aktiv biloversigt og samlet udlejeværdi')}"></div>

    <!-- Menu Ikon og Dropdown -->
    <div class="menu-container">
        <div th:replace="~{home/fragments/bannersidebar :: menu-icon}"></div>

        <!-- Indhold på højre side -->
        <div class="right-side-content">
            <main>
                <!-- Her kan du placere mere indhold af sidens elementer. HUSK SIDENS EGEN CSS! -->
            </main>
        </div>
        <!-- Her kan man sætte mere indhold og sæt det i to deler i stedet for. -->
        <!--
        <div class="left-side-content">
            <main>

            </main>
        </div>
        -->
    </div>
</div>
</body>
</html>