<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biladministration</title>
    <link rel="stylesheet" type="text/css" href="/bannerItems.css">
    <link rel="stylesheet" type="text/css" href="/sidebarItems.css">
</head>
<body>
<div>
    <!-- Banner -->
    <div th:replace="~{home/fragments/bannersidebar :: banner('Bil Administration')}"></div>

    <!-- Menu Ikon og Dropdown -->
    <div class="menu-container">
        <div th:replace="~{home/fragments/bannersidebar :: menu-icon}"></div>

        <!-- Indhold på højre side -->
        <div class="right-side-content">
            <main>
                <form action="/searchBil" method="get" style="margin-bottom: 20px;">
                    <label for="searchTerm">Søg efter bil:</label>
                    <input type="text" id="searchTerm" name="searchTerm" placeholder="Indtast vognnummer, mærke eller tilstand" th:value="${searchTerm}">
                    <button type="submit">Søg</button>
                </form>
                <a th:href="@{/opretBil}" class="btn-opret">Opret ny Bil</a>
                <table>
                    <thead>
                    <tr>
                        <th>Vognnummer</th>
                        <th>Mærke</th>
                        <th>Stelnummer</th>
                        <th>Model</th>
                        <th>Stålpris</th>
                        <th>RegAfgift</th>
                        <th>CO2 Udledning</th>
                        <th>GearType</th>
                        <th>Tilstand</th>
                        <th>Billede</th>
                        <th>Handling</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bil : ${biler}">
                        <td th:text="${bil.vognnummer}"></td>
                        <td th:text="${bil.maerke}"></td>
                        <td th:text="${bil.stelnummer}"></td>
                        <td th:text="${bil.model}"></td>
                        <td th:text="${bil.staalpris}"></td>
                        <td th:text="${bil.regAfgift}"></td>
                        <td th:text="${bil.co2Udledning}"></td>
                        <td th:text="${bil.gearType}"></td>
                        <td th:text="${bil.tilstandNavn}"></td>
                        <td><img th:src="${bil.imageurl}" alt="Billede af bil" width="100"></td>
                        <td>
                            <a th:href="@{'/opdaterBil/'+${bil.vognnummer}}">
                                <button class="btn-opdaterBil" id="btn-opdaterbil">Opdater</button>
                            </a>
                            <a th:href="@{'/sletBil/'+${bil.vognnummer}}" onclick="return confirm('Er du sikker på, at du vil slette denne kontrakt? \n'+
                            'Denne handling kan ikke fortrydes.');">
                                <button type="button" class="btn-slet">Slet</button>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </main>
        </div>
    </div>
</div>
</body>
</html>
