<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biladministration</title>
    <link rel="stylesheet" type="text/css" href="/bannerItems.css">
    <link rel="stylesheet" type="text/css" href="/sidebarItems.css">
    <link rel="stylesheet" type="text/css" href="/biladministration.css">
</head>
<body>
<div>
    <!-- Banner -->
    <div th:replace="~{home/fragments/bannersidebar :: banner('Bil Administration')}"></div>

    <!-- Menu Ikon og Dropdown -->
    <div class="menu-container">
        <div th:replace="~{home/fragments/bannersidebar :: menu-icon}"></div>

        <!-- Indhold på højre side -->
        <div>
            <main>
                <form action="/searchBil" method="get" class="search-form">
                    <input type="text" name="searchTerm" placeholder="Søg efter vognnummer, mærke eller tilstand">
                    <button type="submit">Søg</button>
                </form>
                    <a th:href="@{/opretBil}" class="btn-opret">Opret ny Bil</a>

                    <div class="car-list">
                        <div th:each="bil : ${biler}" class="car-box" th:classappend="${bil.tilstandNavn == 'Lejeklar' ? 'green-box' : (bil.tilstandNavn == 'Udlejet' ? 'yellow-box' : 'red-box')}">
                            <img th:src="${bil.imageurl}" alt="Billede af bil" class="car-image">
                            <div class="car-details">
                                <div>
                                    <span><strong>Vognnummer:</strong> <span th:text="${bil.vognnummer}"></span></span>
                                    <span><strong>Mærke:</strong> <span th:text="${bil.maerke}"></span></span>
                                </div>
                                <div>
                                    <span><strong>Stelnummer:</strong> <span th:text="${bil.stelnummer}"></span></span>
                                    <span><strong>Model:</strong> <span th:text="${bil.model}"></span></span>
                                </div>
                                <div>
                                    <span><strong>Stålpris:</strong> <span th:text="${bil.staalpris}"></span></span>
                                    <span><strong>RegAfgift:</strong> <span th:text="${bil.regAfgift}"></span></span>
                                </div>
                                <div>
                                    <span><strong>CO2 Udledning:</strong> <span th:text="${bil.co2Udledning}"></span></span>
                                    <span><strong>GearType:</strong> <span th:text="${bil.gearType}"></span></span>
                                </div>
                                <div>
                                    <span><strong>Tilstand:</strong> <span th:text="${bil.tilstandNavn}"></span></span>
                                </div>
                            </div>
                            <div class="car-actions">
                                <a th:href="@{'/opdaterBil/'+${bil.vognnummer}}" class="btn-opdater">Opdater</a>
                                <a th:href="@{'/sletBil/'+${bil.vognnummer}}" onclick="return confirm('Er du sikker på, at du vil slette denne bil?');" class="btn-slet">Slet</a>
                            </div>
                        </div>
                    </div>
            </main>
        </div>
    </div>
</div>
</body>
</html>
