<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/bannerItems.css">
    <link rel="stylesheet" type="text/css" href="/sidebarItems.css">
    <title>Title</title>
</head>
<body>
    <div>
        <!-- Banner -->
        <div th:replace="~{home/fragments/bannersidebar :: banner('Dashboard')}"></div>

        <!-- Menu Ikon og Dropdown -->
        <div class="menu-container">
            <div th:replace="~{home/fragments/bannersidebar :: menu-icon}"></div>

            <!-- Indhold på højre side -->
            <div class="right-side-content">
                <main>
                    <!-- Her ALT indhold skal være i! uden at det forstyrrer Banner og sidebar. -->
                </main>
                <!-- Her kan du placere mere indhold af sidens elementer. -->
            </div>
        </div>
    </div>
    <div>
        <div>
            <!-- opslagene -->
        </div>
        <div>
            <!-- Kalender -->
        </div>
    </div>
</body>
</html>