<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/bannerItems.css">
    <link rel="stylesheet" type="text/css" href="/sidebarItems.css">
    <title>Title</title>
</head>
<body>
    <div>
        <!-- Banner -->
        <div th:replace="~{home/fragments/bannersidebar :: banner('Dashboard')}"></div>

        <!-- Menu Ikon og Dropdown -->
        <div class="menu-container">
            <div th:replace="~{home/fragments/bannersidebar :: menu-icon}"></div>

            <!-- Indhold på højre side -->
            <div class="right-side-content">
                <main>
                    <!-- Her kan du placere mere indhold af sidens elementer. -->
                    <div>
                        <div>
                            <!-- Opslag -->
                            <section id="opslag">
                                <h2>Opslag</h2>
                                <!-- Her kan du tilføje dine opslag -->
                                <p>Dette er et eksempel på et opslag.</p>
                            </section>
                        </div>
                        <div>
                            <!-- Kalender -->
                            <section id="Kalender">
                                <h2>Kalender</h2>
                                <!-- Her kan du tilføje dine Kalender -->
                                <p>Dette er et eksempel på et Kalender.</p>
                            </section>
                        </div>
                    </div>
                </main>
                <!-- Her kan du placere mere indhold af sidens elementer. -->
            </div>
        </div>
    </div>
</body>
</html>