<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/bannerItems.css">
    <link rel="stylesheet" type="text/css" href="/sidebarItems.css">
    <link rel="stylesheet" type="text/css" href="/KalenderOgOpslag.css">
    <title>Title</title>
</head>
<body>
    <div>
        <!-- Banner -->
        <div th:replace="~{home/fragments/bannersidebar :: banner('Dashboard')}"></div>

        <!-- Menu Ikon og Dropdown -->
        <div class="menu-container">
            <div th:replace="~{home/fragments/bannersidebar :: menu-icon}"></div>

            <!-- Indhold på højre side -->
            <div class="right-side-content">
                <!-- Her kan du placere mere indhold af sidens elementer.
                For at tilføje flere ting ved siden af hver content skal man bruge ny main. -->
                <main>
                    <!-- Opslag -->
                    <section id="opslag1">
                        <h2>Opslag1</h2>
                        <!-- Her kan du tilføje dine opslag -->
                        <p>Dette er et eksempel på et opslag.</p>
                    </section>
                    <section id="opslag2">
                        <h2>Opslag2</h2>
                        <!-- Her kan du tilføje dine opslag -->
                        <p>Dette er et eksempel på et opslag.</p>
                    </section>
                </main>
                <!-- Her kan du placere mere indhold af sidens elementer. -->
            </div>
            <div class="left-side-content">
                <main>
                    <!-- Kalender -->
                    <section class="bodyKalender">
                        <div>
                            <h2>Kalender</h2>
                        </div>
                    </section>
                    <section class="bodyKalender">
                        <div class="calendar-container">
                            <h1 class="head1">Dagens Dato</h1>
                            <p class="p1" th:text="${currentDate}"></p>
                        </div>
                    </section>
                    <section class="bodyKalender">
                        <div>
                            <p>Dette er et eksempel på et Kalender.</p>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </div>
</body>
</html>