<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/bannerItems.css">
    <link rel="stylesheet" type="text/css" href="/sidebarItems.css">
    <title>Title</title>
</head>
<body>
<div>
    <!-- Banner -->
    <div th:replace="~{home/fragments/bannersidebar :: banner('Aktiv biloversigt og samlet udlejeværdi')}"></div>

    <!-- Menu Ikon og Dropdown -->
    <div class="menu-container">
        <div th:replace="~{home/fragments/bannersidebar :: menu-icon}"></div>

        <!-- Indhold på højre side -->
        <div class="right-side-content">
            <!-- Her kan du placere mere indhold af sidens elementer. -->
            <main>
                <div>Der er <span th:text="${antalAktive}">0</span> biler som er udlejet og har i alt <span th:text="${sumAfPriser}">0</span> DKK</div>
                <div>
                    <table>
                        <thead>
                        <tr>
                            <th>Aktivt udlejet</th>
                            <th>Vognnummer</th>
                            <th>Beløb i alt</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="info : ${lejekontrakter}" th:if="${info.status} == 'Aktiv'">
                            <td th:text="${info.startDato}"></td>
                            <td th:text="${info.slutDato}"></td>
                            <td th:text="${info.vognnummer}"></td>
                            <td th:text="${info.pris}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
</div>
</body>
</html>